body {
	background-color: #eee;
}

.logo {
	background-color: #fff;
	padding: 3rem;
	margin: 1rem;
}

.logo img {
	width: 100%;
	margin: 0;
}

.contact {
	background-color: #fff;

	min-height: 29rem;
	padding: 3rem;
	margin: 1rem;

	color: #444;
	font-family: "Anonymous Pro", monospace;
	font-size: 2rem;
}

.container {
	margin-top: 5rem;
}

@media (min-width: 1100px) {
	.container {
		margin-top: 30rem;
	}
}

.dj {
	text-decoration: none;
}
.dj .red {
	color: rgb(203, 0, 0)
}
.dj .yellow {
	color: rgb(255, 167, 37)
}